*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.main
{
    width: 100%;
}
.main-nav
{
    width: 80%;
}
.bg img
{
    margin: 5px;
    width: 100%;
    height: 150vh;
    background-image: url('img/banner-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.logo img
{
    position: absolute;
    width: 12%;
    top: 10%;
    left: 7%;
    display: block; 
}
.nav 
{
    display: block;
    position: fixed;
    z-index: 99;
    position: absolute;
    top: 10%;
    left: 46%; 
    
}
.nav ul li
{
    display: inline-block;
    padding: 20px;
    
}
.nav ul li a
{
    text-decoration: none;
    font-family: 'popping',sans-serif;
    height: 40px;
    padding: 11px;
    border-radius: 50px;   
    font-weight: 400; 
    color: white;
}
a.homebtn,a:hover
{
    background-color: rgba(255, 255, 255, 0.10);
    transition: 0.1s;
    }
.nav ul li button
{
    text-decoration: none;
    font-family: 'popping',sans-serif;
    width: 90px;
    height: 42px;
    padding: 12px;
    border-radius: 50px;   
    font-weight: 600; 
    background-color: #ee626b;
    border: none;
    color: white;

}
.con
{
    position: absolute;
    top: 45%;
    left: 7%;
    color: white;
    font-family: 'popping',sans-serif;
}
.wtl
{
    font-weight: 400;
    font-size: 20px;
}
.content h1
{
    font-weight: 800;
    font-size: 48px;
}
.content p
{
    text-align: justify;
    line-height: 30px;
}
.banner-pic img
{
    border-radius: 25px;
    position: absolute;
    top: 38%;
    left: 67%;
    height: 450px;
}
.dolar-1 
{
    background-color: #008af8;
    border: 25px;
    font-weight: 700;
    position: absolute;
    top: 41%;
    left: 86%;
    height: 40px;
    width: 5%;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    font-family: 'popping',sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.circle
{
    background-color: #ee626b;
    border: 25px;
    font-weight: 700;
    position: absolute;
    top: 93%;
    left: 65%;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    font-family: 'popping',sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
}
.search input
{
    width: 35%;
    height: 50px;
    position: absolute;
    top: 95%;
    left: 7%;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 2%;
}
.search button
{
    
    text-align: center;
    width: 10%;
    height: 50px;
    position: absolute;
    top: 95%;
    left: 35%;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #ee626b;
    
}
.search button:hover
{
    background-color: #008af8;
}
.search button a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: 'popping',sans-serif;
}
.box-1
{
    filter: drop-shadow(2px 2px 2px rgb(221, 210, 210));
    background-color: #fff;
    width: 21%;
    height: 200px;
    border-radius: 25px;
    position: absolute;
    left: 7%;
    top: 132%;
}
.box-1 img
{
    position: relative;
    top: 25%;
    left: 30%;
    background-color: #008af8;
    padding: 10%;
    border-radius: 50%;
}
.box-1 p
{
    position: relative;
    top: 30%;
    left: 30%;
    font-family: 'popping',sans-serif;
    font-weight: 600;
}
.box-1:hover img
{
    background-color: #ee626b;
    transition: 0.5s;
}
.box-2
{
    filter: drop-shadow(2px 2px 2px rgb(221, 210, 210));
    background-color: #fff;
    width: 21%;
    height: 200px;
    border-radius: 25px;
    position: absolute;
    left: 30%;
    top: 132%;
}
.box-2 img  
{
    position: relative;
    top: 25%;
    left: 30%;
    background-color: #008af8;
    padding: 10%;
    border-radius: 50%;
}
.box-2 p
{
    position: relative;
    top: 30%;
    left: 32%;
    font-family: 'popping',sans-serif;
    font-weight: 600;
}
.box-2:hover img
{
    background-color: #ee626b;
    transition: 0.5s;
}
.box-3
{
    filter: drop-shadow(2px 2px 2px rgb(221, 210, 210));
    background-color: #fff;
    width: 21%;
    height: 200px;
    border-radius: 25px;
    position: absolute;
    left: 53%;
    top: 132%;
}.box-3 img  
{
    position: relative;
    top: 25%;
    left: 30%;
    background-color: #008af8;
    padding: 10%;
    border-radius: 50%;
}
.box-3 p
{
    position: relative;
    top: 30%;
    left: 30%;
    font-family: 'popping',sans-serif;
    font-weight: 600;
}
.box-3:hover img
{
    background-color: #ee626b;
    transition: 0.5s;
}
.box-4
{
    filter: drop-shadow(2px 2px 2px rgb(221, 210, 210));   
    background-color: #fff;
    width: 21%;
    height: 200px;
    border-radius: 25px;
    position: absolute;
    left: 76%;
    top: 132%;
}.box-4 img  
{
    position: relative;
    top: 25%;
    left: 30%;
    background-color: #008af8;
    padding: 10%;
    border-radius: 50%;
}
.box-4 p
{
    position: absolute;
    top: 84%;
    left: 30%;
    font-family: 'popping',sans-serif;
    font-weight: 600;
}
.box-4:hover img
{
    background-color: #ee626b;
    transition: 0.5s;
}
.trending p
{
    position: absolute;
    top: 180%;
    left: 7%;
    font-family: 'popping' sans-serif;
    font-weight: bold;
    color: #ee626b;
}
.trending h2
{
    position: absolute;
    top: 185%;
    left: 7%; 
    font-weight: bolder;
    font-size: 40px;

}
.trending button
{
    position: absolute;
    top: 185%;
    left: 85%;  
    width: 9%;  
    padding: 1%;
    height: 50px;
    border-radius: 25px;
    background-color: #ee626b;
    font-family: 'popping' sans-serif;
    font-weight: 600;
    border: none;
    color: white;
}
.trending button:hover
{
    background-color: #008af8;
}
.box-5
{
    margin-bottom: 30%;
    margin-top: 30%;
    height: 280px;
    width: 270px;
    background-color: rgb(236, 232, 232);
    border-radius: 25px;
    position: absolute;
    left: 7%;
    top: 140%;
}
.box-5 img
{
    width: 270px;
    height: 200px;
    border-radius: 25px;
}
.price-1 
{

    bottom: 65%;
    left: 67%;
    width: 70px;
    height: 60px;
    padding: 4%;
    position: relative;
    background-color: #008af8;
    border-radius: 10px;
    text-align: center;line-height: 10px;
    color: white;
    font-weight: 600;
}
.action
{
    color: #7a7a7a;
    position: absolute;
    top: 77%;
    left: 10%;
}
.ac p
{
    position: relative;
    left: 10%;
    bottom: 28px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'popping' sans-serif;
}
.ac i
{
    position: relative;
    left: 75%;
    bottom: 70px;
}
.box-6
{
    margin-bottom: 30%;
    margin-top: 30%;
    height: 280px;
    width: 270px;
    background-color:rgb(236, 232, 232);
    border-radius: 25px;
    position: absolute;
    left: 30%;
    top: 140%;
}
.box-6 img
{
    width: 270px;
    height: 200px;
    border-radius: 25px;
}
.price-2
{
    bottom: 65%;
    left: 67%;
    width: 70px;
    height: 40px;
    padding: 4%;
    position: relative;
    background-color: #008af8;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
}
.action-2
{
    color: #7a7a7a;
    position: absolute;
    top: 77%;
    left: 10%;
}
.ac-2 p
{
    position: relative;
    margin-top: 8%;
    left: 10%;
    bottom: 28px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'popping' sans-serif;
}
.ac-2 i
{
    position: relative;
    left: 75%;
    bottom: 70px;
}
.box-7
{
    margin-bottom: 30%;
    margin-top: 30%;
    height: 280px;
    width: 270px;
    background-color: rgb(236, 232, 232);
    border-radius: 25px;
    position: absolute;
    top: 140%;
    left: 53%;
}
.box-7 img
{
    width: 270px;
    height: 200px;
    border-radius: 25px;
}
.price1 
{
    position: absolute;
    bottom: 65%;
    left: 67%;
    width: 70px;
    height: 60px;
    padding: 4%;
    background-color: #008af8;
    border-radius: 10px;
    text-align: center;line-height: 10px;
    color: white;
    font-weight: 600;
}
.box-8
{
    margin-bottom: 30%;
    margin-top: 30%;
    height: 280px;
    width: 270px;
    background-color: rgb(236, 232, 232);
    border-radius: 25px;
    position: absolute;
    left: 76%;
    top: 140%;
}
.box-8 img
{
    width: 270px;
    height: 200px;
    border-radius: 25px;
}
.price1 
{
    position: absolute;
    bottom: 65%;
    left: 67%;
    width: 70px;
    height: 60px;
    padding: 4%;
    position: relative;
    background-color: #008af8;
    border-radius: 10px;
    text-align: center;line-height: 10px;
    color: white;
    font-weight: 600;
}

.Most-played
{ 
    margin: 55% auto;
    width: 97%;
    border-radius: 150px;
    height: 700px;
    background-color: #f7f7f7;
}
.top-game p
{
    position: absolute;
    top: 280%;
    left: 7%;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: #ee626b;
}
.top-game h2
{
    position: absolute;
    top: 285%;
    left: 7%; 
    font-weight: bolder;
    font-size: 40px;

}
.top-game button
{
    position: absolute;
    top: 285%;
    left: 85%;  
    width: 9%;  
    padding: 1%;
    height: 50px;
    border-radius: 25px;
    background-color: #ee626b;
    font-family: 'popping' sans-serif;
    font-weight: 600;
    border: none;
    color: white;
}
.top-game  button:hover
{
    background-color: #008af8;
}
.content:hover .creed p
{
    color: #008af8;
}
.content:hover button
{
    background-color: #008af8;
}
.content
{
    position: absolute;
    top: 305%;
    left: 7%;
    height: 46vh;
    background-color: #fff;
    width: 13%;
    border-radius: 25px;
}
.content img
{
    width: 100%;
    border-radius: 25px;
}
.advanture p
{
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'popping' sans-serif;
    text-align: center;
    margin-top: 20px;
}
.creed p
{
    color: black;
    font-size: 17px;
    font-family: 'popping' sans-serif;
    text-align: center;
}
.content button
{
    background-color: #ee626b;
    padding: 8%;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: 25%;
    border: none;
}
.content-1
{
    height: 46vh;
    background-color: #fff;
    width: 13%;
    border-radius: 25px;
    position: absolute;
    top: 305%;
    left: 22%;
}
.content-1 img
{
    border-radius: 25px;
    width: 100%;
}
.advanture-1 p
{
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 25px;
}
.creed-1 p
{
    color: black;
    font-size: 17px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 5%;
}
.content-1 button
{
    background-color: #ee626b;
    padding: 8%;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 25%;
}
.content-1:hover .creed-1 p
{
    color: #008af8;
}
.content-1:hover button
{
    background-color: #008af8;
}
.content-2
{
    height: 46vh;
    background-color: #fff;
    width: 13%;
    border-radius: 25px;
    position: absolute;
    top: 305%;
    left: 37%;
}
.content-2 img
{
    width: 100%;
    border-radius: 25px;
}
.advanture-2 p
{
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 25px;
}
.creed-2 p
{
    color: black;
    font-size: 17px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 5%;
}
.content-2 button
{
    background-color: #ee626b;
    padding: 8%;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 25%;
}
.content-2:hover .creed-2 p
{
    color: #008af8;
}
.content-2:hover button
{
    background-color: #008af8;
}
.content-3
{
    height: 46vh;
    background-color: #fff;
    width: 13%;
    border-radius: 25px;
    position: absolute;
    top: 305%;
    left: 52%;
}
.content-3 img
{
    width: 100%;
    border-radius: 25px;
}
.advanture-3 p
{
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 25px;
}
.creed-3 p
{
    color: black;
    font-size: 17px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 5%;
}
.content-3 button
{
    background-color: #ee626b;
    padding: 8%;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 25%;
}
.content-3:hover .creed-3 p
{
    color: #008af8;
}
.content-3:hover button
{
    background-color: #008af8;
}
.content-4
{
    height: 46vh;
    background-color: #fff;
    width: 13%;
    border-radius: 25px;
    position: absolute;
    top: 305%;
    left: 67%;
}
.content-4 img
{
    width: 100%;
    border-radius: 25px;
}
.advanture-4 p
{
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 25px;
}
.creed-4 p
{
    color: black;
    font-size: 17px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 5%;
}
.content-4 button
{
    background-color: #ee626b;
    padding: 8%;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 25%;
}
.content-4:hover .creed-4 p
{
    color: #008af8;
}
.content-4:hover button
{
    background-color: #008af8;
}
.content-5
{
    height: 46vh;
    background-color: #fff;
    width: 13%;
    border-radius: 25px;
    position: absolute;
    top: 305%;
    left: 82%;
}
.content-5 img
{
    width: 100%;
    border-radius: 25px;
}
.advanture-5 p
{
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 25px;
}
.creed-5 p
{
    color: black;
    font-size: 17px;
    font-family: 'popping',sans-serif;
    text-align: center;
    margin-top: 5%;
}
.content-5 button
{
    background-color: #ee626b;
    padding: 8%;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 25%;
}
.content-5:hover .creed-5 p
{
    color: #008af8;
}
.content-5:hover button
{
    background-color: #008af8;
}
.catagory
{
    position: absolute;
    top: 380%;
    left: 50%;
    font-family: 'popping',sans-serif;
    color: #ee626b;
    font-weight: bolder;
}
.top-catagories
{
    position: absolute;
    top: 385%;
    left: 42%;
    font-family: 'popping',sans-serif;
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.category-1
{
    height: 20vh;
    background-color: #0071f8;
    width: 15%;
    border-radius: 25px;
    position: absolute;
    top: 402%;
    left: 14%;
}
.category-1 p
{
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 18%;
    left: 37%;
}
.category-1 img
{
    width: 100%;
    border-radius: 25px;
    position: relative;
    top: 36%;
}
.category-2
{
    height: 20vh;
    background-color: #0071f8;
    width: 15%;
    border-radius: 25px;
    position: absolute;
    top: 402%;
    left: 30%;
}
.category-2 p
{
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 18%;
    left: 37%;
}
.category-2 img
{
    width: 100%;
    border-radius: 25px;
    position: relative;
    top: 36%;
}
.category-3
{
    height: 20vh;
    background-color: #0071f8;
    width: 15%;
    border-radius: 25px;
    position: absolute;
    top: 402%;
    left: 46%;
}
.category-3 p
{
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 18%;
    left: 37%;
}
.category-3 img
{
    width: 100%;
    border-radius: 25px;
    position: relative;
    top: 36%;
}
.category-4
{
    height: 20vh;
    background-color: #0071f8;
    width: 15%;
    border-radius: 25px;
    position: absolute;
    top: 402%;
    left: 62%;
}
.category-4 p
{
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 18%;
    left: 37%;
}
.category-4 img
{
    width: 100%;
    border-radius: 25px;
    position: relative;
    top: 36%;
}
.category-5
{
    height: 20vh;
    background-color: #0071f8;
    width: 15%;
    border-radius: 25px;
    position: absolute;
    top: 402%;
    left: 78%;
}
.category-5 p
{
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 18%;
    left: 37%;
}
.category-5 img
{
    width: 100%;
    border-radius: 25px;
    position: relative;
    top: 36%;
}
.footer-pic
{
    position: absolute;
    left: 31%;
    margin-top: -10%;
}
img
{
    border-radius: 25px;
}
.footer-conentent-1 button
{
    padding: 5%;
    height: 50px;
    border-radius: 25px;
    background-color: #ee626b;
    font-family: 'popping' sans-serif;
    font-weight: 600;
    border: none;
    color: white;
}
.OUR-SHOP
{
    padding-top: 20%;
    color: #ee626b;
    font-family: 'popping',sans-serif;
    font-weight: bold;
}
.pre-order
{
    font-family: 'popping',sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 38px;
}
.para-1
{
    font-family: 'popping',sans-serif;
    font-weight: bold;
    margin-bottom: 10%;
    
}
.footer-conentent-1
{
    padding-left: 5%;
    border-radius: 25px;
    background-color:  #f8f9fa;
    width: 35%;
    height: 73vh;
    position: absolute;
    left: 8%;
    top: 480%;
}
button:hover
{
    background-color: #008af8;
    
}
.footer-conentent-2
{
    padding-left: 5%;
    border-radius: 25px;
    background-color: #f8f9fa;
    width: 38%;
    height: 60vh;
    position: absolute;
    left: 58%;
    top: 496%;
}
.footer-conentent-2 input
{
    top: -10px;
    border: none;
    padding-left: 5%;
    height: 50px;
    width: 60%;
    border-radius: 25px;
}
.footer-conentent-2 button
{
    border: none;
    height: 50px;
    width: 40%;
    border-radius: 25px;
    position: absolute;
    top: 68%;
    left: 50%;
    background-color: #ee626b;
    font-family: 'popping',sans-serif;
    font-weight: bold;
    color: white;
}
.footer-conentent-2:hover button
{
    background-color: #0071f8;
}
.footer-photo img
{
    position: absolute;
    top: 578%;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
}
.footer-photo p
{
    font-family: 'popping',sans-serif;
    
    position: absolute;
    top: 583%;
    left: 25%;
    color: white;
}